{% extends "modelo.html" %}
{% block conteudo %}

    <h1>Bar da Capivara</h1>
    <p>O melhor Bar da Cidade fica aqui, venha assistir o jogo de seu time com a galera, cerveja gelada e os melhores Tira Gosto, são especialide da casa.</p>
    <p>Localizado no <a href="https://pt.wikipedia.org/wiki/Tamba%C3%BA_(praia)" target="_blank rel="nooperner noreferrer">bairro de Tambau.</a></p>

    <h1>Sobre o Bar</h1>
    <div class="card" style="width: 18rem;">
      <img src="../static/meu bar.jpg" class="card-img-top" alt="Descrição do Bar">
      <div class="card-body">
        <p class="card-text">Venha se divertir com seus amigos, no melhor Bar da Cidade !!!
      </div>
    </div>

{% endblock %}